<h1>Users table</h1>

<!-- Users table -->
<table>
  <thead>
    <th>Name 
      <span (click)="orderUsersByName(false)">⬇️</span>
      <span (click)="orderUsersByName()">⬆️</span>
    </th>
    <th>Age
      <span (click)="orderUsersByAge(false)">⬇️</span>
      <span (click)="orderUsersByAge()">⬆️</span>
    </th>
    <th>Email</th>
    <th>Phone</th>
  </thead>
  <tr *ngFor="let user of users" (click)="selectUser(user)">
    <td>{{ user.name }}</td>
    <td>{{ user.age }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phone }}</td>
  </tr>
</table>

<app-user-details [user]="selectedUser" (deleteUserEvent)="deleteUser($event)" *ngIf="selectedUser"></app-user-details>